<?xml version="1.0"?>
<config>
    <modules>
        <Codigo5_BoletoSimples>
            <version>0.1.0</version>
        </Codigo5_BoletoSimples>
    </modules>
    <global>
        <helpers>
            <codigo5_boletosimples>
                <class>Codigo5_BoletoSimples_Helper</class>
            </codigo5_boletosimples>
        </helpers>
        <blocks>
            <codigo5_boletosimples>
                <class>Codigo5_BoletoSimples_Block</class>
            </codigo5_boletosimples>
        </blocks>
        <models>
          <codigo5_boletosimples>
              <class>Codigo5_BoletoSimples_Model</class>
          </codigo5_boletosimples>
        </models>
    </global>
    <default>
        <payment>
            <boletosimples>
                <active>0</active>
                <model>codigo5_boletosimples/payment_method_boletoSimples</model>
                <allowspecific>0</allowspecific>
                <order_status>pending</order_status>
                <title>Boleto Simples</title>
                <environment>sandbox</environment>
                <sort_order>100</sort_order>
            </boletosimples>
        </payment>
    </default>
    <adminhtml>
        <events>
            <admin_system_config_changed_section_payment>
                <observers>
                    <codigo5_boletosimples_check_auth_config>
                        <model>codigo5_boletosimples/observer</model>
                        <method>checkAuthConfig</method>
                    </codigo5_boletosimples_check_auth_config>
                </observers>
            </admin_system_config_changed_section_payment>
        </events>
        <layout>
            <updates>
                <codigo5_boletosimples>
                    <file>codigo5/boletosimples.xml</file>
                </codigo5_boletosimples>
            </updates>
        </layout>
    </adminhtml>
    <frontend>
        <routers>
            <codigo5_boletosimples>
                <use>standard</use>
                <args>
                    <module>Codigo5_BoletoSimples</module>
                    <frontName>codigo5_boletosimples</frontName>
                </args>
            </codigo5_boletosimples>
        </routers>
        <layout>
            <updates>
                <codigo5_boletosimples>
                    <file>codigo5/boletosimples.xml</file>
                </codigo5_boletosimples>
            </updates>
        </layout>
    </frontend>
</config>
